
<!--Header nueva tarea con flecha para cerrar el modal-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="goTab1()">
      <ion-icon style="color: white;" slot="" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>
      Añadir nueva tarea
    </ion-title>
  </ion-toolbar>
  <hr>
  <hr>
  <!--Para seleccionar fecha de la tarea realizada-->
    <ion-item>
      <ion-datetime value="" placeholder="Seleccionar fecha"></ion-datetime>
    </ion-item>

  <hr>
  <hr>
  <!--Para seleccionar la asignatura de la tarea realizada-->
  <ion-item>
    <ion-label>Asignatura</ion-label>
      <ion-select interface="popover" formControlName="asignatura">
        <ion-select-option [value]="asignatura.id" *ngFor="let asignatura of asignaturas">{{ diario.asignatura.name }}</ion-select-option>
      </ion-select> 
  </ion-item>
  <hr>
  <hr>
  <!--Para escribir la descripción de la tarea realizada-->
  <ion-item>
    <ion-label class="" position="stacked">Descripción</ion-label>
    <ion-textarea ionFocus placeholder=""></ion-textarea>
  </ion-item>
  <hr>
  <hr>

  <ion-lab>
      <ion-button class="botontarea" text-align="center" color="primary">Añadir Tarea</ion-button>
  </ion-lab>
</ion-header>  
    <!--form [formGroup]="form" (ngSubmit)="onSubmit()"> 

      <div class="selectWrapper">
        <select class="selectbox" formControlName="asignaturas">
          <option *ngFor="let asignatura of asignaturas" [value]="asignatura.id">{{ asignatura.name }}</option>
        </select>
      </div>
    </form-->



